doctype html
html
  head
    title= title
    style
      include ./style.css
  body
    h1= title
    p Livres trouvés :
    table
      thead
        tr
          th Auteur
          th Titre
          th Catégorie
        tbody
          tr
            td aaa
            td ccc
            td ttt
